.card-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .card-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  }
  
  .card-header {
    font-size: 24px;
    color: #d95d3f; 
    margin-bottom: 10px;
    text-align: center;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .card-content {
    font-size: 16px;
    color: #333; 
    margin-bottom: 20px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-footer .button {
    padding: 10px 20px;
  background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .card-footer .button:hover {
  background: linear-gradient(to left, #00c6ff, #0072ff);
  }
  
  .card-footer .link {
    color: #d95d3f; 
    text-decoration: none;
    font-weight: bold;
  }
  
  .card-footer .link:hover {
    text-decoration: underline;
  }
  